.wrapper {
    height: 100%;
    width: 100%;
}
mat-card {
    height: 100%;
    width: 100%;
    &.new {
        padding: 0;
        
        button {
            padding: 48px;
            width: 100%;
        }
    }
    
    &.edit {
        padding-bottom: 0;
    
        input {
            width: 100%;
        }
        mat-card-content,
        mat-card-actions {
            margin-bottom: 0;
        }
        
        mat-form-field {
            .mat-input-wrapper {
                padding: 0;
            }
        }
    }
}

.is-loading {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    .loader {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
        div {
            position: absolute;
            top: 27px;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: rgb(207, 88, 88);
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
        }
        div:nth-child(1) {
            left: 6px;
            animation: loader1 0.6s infinite;
        }
        div:nth-child(2) {
            left: 6px;
            animation: loader2 0.6s infinite;
        }
        div:nth-child(3) {
            left: 26px;
            animation: loader2 0.6s infinite;
        }
        div:nth-child(4) {
            left: 45px;
            animation: loader3 0.6s infinite;
        }
        @keyframes loader1 {
            0% {
                transform: scale(0);
            }
            100% {
                transform: scale(1);
            }
        }
        @keyframes loader3 {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(0);
            }
        }
        @keyframes loader2 {
            0% {
                transform: translate(0, 0);
            }
            100% {
                transform: translate(19px, 0);
            }
        }
    }
}
