<mat-card mat-button *ngIf="!isLoading && isNew" class="new">
  <mat-card-content>
    <button mat-button (click)="enter()">
      Create New Board...
    </button>
  </mat-card-content>
</mat-card>
<mat-card mat-button *ngIf="!isLoading && !isNew" class="edit">
  <form (ngSubmit)="createNew($event)" #boardForm>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input matInput autofocus placeholder="Enter Board Name" name="newBoard" [(ngModel)]="newBoard" autocomplete="off" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit">Create New Board</button>
      <button mat-button (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
<mat-card mat-button *ngIf="isLoading" class="is-loading">
  <div class="loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</mat-card>